.navbar-brand, .navbar-tabs {
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
  align-items: center;
}

.fondo__login {
  background: url("./images/casa.jpg");
  background-size: cover;
  height: 100vh;
}

.text__front h1{
	font-size: 45px;
	color: black;
}

.fondo__signup {
  background: url("./images/graffiti.jpg");
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;

}
.field{
	width: 270px;

}
.home_cover{
  background: url("./images/madero.jpg");
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cover_image {
  max-height: 28rem;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.buttons_bg{
    background: #633aff3b;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup_bg{
  background: #06040c9c;
  width: 50%;
  height: 100%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 70%;
}
.label {
  color: #f2f3f3;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}
.is-normal {
  width: 100px;
  height: 38px;
  margin: 1%;
}
.cards-container{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  
}
.card{
  min-width: 32%;
  margin: 5px;
  background: rgba(216, 210, 210, 0.80);
}
  
.card-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-to-action-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-project-form{
    width: 80%;
    background-color: rgba(216, 210, 210, 0.80);
    margin: 0 auto;
}
.field {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 2%;
}
.note-background{
  background: url("./images/notebook.jpeg");
  background-size: cover;
  height: 100vh;
  flex-direction: column;
}
.note{
  background: none;
  margin: 0 2%;
}
.is-parent{
  background-color: #7a76764d;
}