

.fondo__login {
  background: url("./images/rectangle.png");
  background-size: cover;
  height: 600px;
}

.text__front h1{
	font-size: 45px;
	color: black;
}

.fondo__signup {
  background: url("./images/graffiti.jpg");
  background-size: cover;
  height: 600px;
}
.field{
	width: 270px;

}
.top__image{
	width: 80%;
	height: 40vh;
}