

.fondo__login {
  background: url("./images/casa.jpg");
  background-size: cover;
  height: 600px;
}

.text__front h1{
	font-size: 35px;
	color: black;
}

.fondo__signup {
  background: url("./images/graffiti.jpg");
  background-size: cover;
  height: 600px;
}